@import url("reset.css");

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');

:root {
    --large-margin: 20px;
    --plyr-audio-control-color: black;
    --plyr-color-main: black;
    --plyr-audio-control-background-hover: none;
    --plyr-audio-control-color-hover: none;
    --plyr-font-family: 'Lato', sans-serif;
}

body {
    font-family: 'Lato', sans-serif;
}

nav {
    border-bottom: 3px solid black;
    background-color: white;
    width: 100%;
    position: fixed;
    top: 0;
    padding-right: 300px;
    z-index: 1;
}

main {
    margin-top: 70px;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-weight: 900;
}

.fa-youtube {
    background-color: rgba(255, 0, 0, 0.15);
    padding: 5px;
    border-radius: 100%;
    color: red;
}

h1 {
    font-weight: 700;
    margin-bottom: var(--large-margin);
}

h3 {
    margin-top: var(--large-margin);
}

audio {
    width: 100%;
}

p {
    margin-bottom: var(--large-margin);
}

.container {
    max-width: 700px;
    margin: 0 auto;
    padding: var(--large-margin);
}

.toc {
    position: fixed;
    padding: var(--large-margin);
    height: 100%;
    top: 0;
    overflow: scroll;
    border-right: 3px solid black;
    width: 300px;
}

.right-section {
    margin-left: 300px;
}

a {
    text-decoration: none;
    color: black;
    font-weight: 700;
}

footer {
    position: fixed;
    width: 100%;
    bottom: 0;
}

.white-bg {
    background-color: white;
}

.lessons a {
    font-weight: 400;
}

@media only screen and (max-width: 1000px) {

    .toc {
        display: none;
    }

    .right-section {
        margin-left: 0;
    }

    nav {
        padding-right: 0;
    }
}