body {
    margin: 0;
    width: 100vw;
    font-family: 'Rubik', sans-serif;
}

.left-header {
    width: 50vw;
    height: 100vh;
    float: left;
    display: grid;
    place-items: center;
}

.header-text {
    text-align: center;
}

.header-text h1 {
    font-size: 40px;
    margin: 0;
}

.header-text a {
    text-decoration: none;
    color: white;
    background-color: #FFD08D;
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 15px;
}

.right-header {
    width: 50vw;
    height: 100vh;
    float: right;
    display: grid;
    place-items: center;
}

.right-header .header-img img{
    width: 400px;
    height: auto;
}

.elipse {
    width: 800px;
    height: 110vh;
    background: #FFD08D;
    border-radius: 400px / 55vh;
    position: absolute;
    right: -400px;
    top: -50px;
    z-index: -1;
    overflow: hidden;
}