/*
 * The general css styles.
 */

 body {
    background-color: var(--light-gray)
}

nav {
    padding: 5px;
    background-color: var(--dark-purple);
    color: white;
}

.logo-wrapper {
    height: 70px;
}

.logo-wrapper img {
    height: 100%;
    width: auto;
}

p {
    font-size: 16px;
}

main {
    max-width: 900px;
    margin: 0 auto;
}

.exec-info {
    padding: 40px 40px 20px 40px;
    border-bottom: 5px solid var(--orange);
}

.exec-name {
    color: var(--light-purple)
}

.type-text {
    margin: 30px 40px 10px 40px;
}

.box {
    padding: 40px;
    border-radius: 10px;
    background-color: white;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    margin-bottom: 20px;
    font-family: CerebriSans-Regular, -apple-system, system-ui, Roboto, sans-serif;
}

.title-wrapper h2 {
    padding: 10px 40px;
}

.graph-wrapper {
    width: 500px;
    margin: 10px 0;
}

.question::before {
    content: "8p";
    margin-right: 10px;
}

.reference {
    border-left: 5px solid var(--coral);
    background-color: var(--light-coral);
    padding: 5px;
    margin: 10px 0;
}

.dropdown {
    height: 20px;
    width: auto;
    cursor: pointer;
    transform: translateY(4px);
}

.dropdown-data {
    margin: 10px 0 10px 24px;
}

.math-high {
    transform: translateY(-4px);
}

.math-low {
    transform: translateY(4px);
}