.triangle-top {
    position: absolute;
    top: calc(var(--header-height) - 10vw + 1px);
    left: 40vw;
    border-right: 10vw solid var(--light-purple);
    border-top: 10vw solid transparent;
    z-index: 100;
}

.triangle-bottom {
    position: absolute;
    top: var(--header-height);
    left: 50vw;
    border-top: 10vw solid var(--light-purple);
    border-right: 10vw solid transparent;
    z-index: 100;
}

.triangle-left {
    position: absolute;
    top: calc(2 * var(--header-height) - 10vw + 1px);
    left: 40vw;
    border-right: 10vw solid var(--purple);
    border-top: 10vw solid transparent;
    z-index: 100;
}

.triangle-right {
    position: absolute;
    top: calc( 2 * var(--header-height) - 10vw + 1px);
    left: 90vw;
    border-bottom: 10vw solid var(--purple);
    border-right: 10vw solid transparent;
    z-index: 100;
}

.rect {
    height: var(--header-height);
    z-index: -1;
}

.left {
    float: left;
}

.right {
    float: right;
}

.translate-left {
    transform: translateX(-100px);
}

.translate-right {
    transform: translateX(100px);
}

.dark-rect {
    width: 10vw;
    background-color: var(--dark-purple);
    display: grid;
}

.logo {
    max-width: 150px;
    justify-self: center;
}

.normal-rect {
    width: 40vw;
    background-color: var(--purple);
    display: grid;
    place-items: center;
}

.text {
    color: white;
}

.text p {
    margin-bottom: 20px;
}

.light-rect {
    width: 10vw;
    background-color: var(--light-purple);
}

.image {
    width: 40vw;
    float: left;
    display: grid;
    place-items: center;
    height: var(--header-height);
}

.image img{
    width: 100%;
}

.exam-wrapper {
    clear: both;
    height: var(--header-height);
    width: 100%;
    background-color: var(--purple);
    color: white;
    text-align: center;
    display: grid;
    place-items: center;
}

.boxes-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 50px;
    place-items: center;
}

.box {
    width: 400px;
    height: 500px;
    padding: var(--standard-padding);
    border-radius: var(--standard-border-radius);
}

.wiskundeA {
    background-color: var(--green);
}

.wiskundeB {
    background-color: var(--coral);
    height: 600px;
}

.wiskundeC {
    background-color: var(--orange);
}


.top-footer {
    width: 100%;
    height: 100px;
    background-color: var(--dark-purple);
}

.bottom-footer {
    width: 100%;
    height: 400px;
    background-color: var(--orange);
}
