/* Defines general styling for all of the website. */

:root {
    --orange: #F9A829;
    --light-orange: #FFECCE;
    --dark-purple: #9C63FD;
    --purple: #B184FF;
    --light-purple: #BA98F5;
    --coral: #F86D70;
    --light-coral: #ffe6e8;
    --green: #36CE43;
    --light-gray: #faf7ff;
    --nav-height: 60px;
    --standard-padding: 20px;
    --standard-border-radius: 20px;
    --header-height: 1000px;
}

body {
    font-family: Futura,Trebuchet MS,Arial,sans-serif;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
}

p {
    font-size: 20px;
}

.button {
    font-size: 20px;
    text-decoration: none;
    color: white;
    padding: 10px 50px;
    background-color: orange;
    border-radius: var(--standard-border-radius);
}

.top-footer {
    width: 100%;
    height: 100px;
    background-color: var(--dark-purple);
}

.bottom-footer {
    width: 100%;
    height: 400px;
    background-color: var(--orange);
    display: grid;
    place-items: center;
    color: white;
}