/* Defines general styling for all of the website. */

:root {
    --orange: #F9A829;
    --light-orange: #FFECCE;
    --dark-purple: #9C63FD;
    --purple: #B184FF;
    --light-purple: #BA98F5;
    --coral: #F86D70;
    --nav-height: 60px;
    --standard-padding: 10px;
    --standard-border-radius: 20px;
    --header-height: 1000px;
}

body {
    font-family: Futura,Trebuchet MS,Arial,sans-serif;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 70px;
}

p {
    font-size: 18px;
}

.button {
    appearance: button;

    text-decoration: none;
    color: white;
    padding: var(--standard-padding);
    background-color: orange;
    border-radius: var(--standard-border-radius);
}
